{% extends 'app1/base.html' %}
{% load static %}
{% block base %}
    <section id="about-section">
        <div id="about-header">
            <h2>About Us</h2>
        </div>
        <div id="about-info">
            <div id="about-image">
                <img loading="lazy" src="{% static 'images/image6.png' %}" alt="">
            </div>
            <div id="about-text">
                <h3>Ko Innovation Software Solutions</h3>
                <h4>IDEAS TO IMPACT LIVES</h4>
                <p>The world around us change incredibly every passing day. There has never been more pressing need for organizations to rethink and realign their businesses for a changed world. Growth and profitability of a business is highly driven by various technologies across all aspects of business. In today’s world, keeping up with the global technological advancements is not just an added advantage but an indispensable need. Adopting innovations makes your business smart and agile; businesses need to be constantly evolving ideas to stay ahead of the curve. It is imperative to build Ideas and Innovations that leave a lasting Impact on lives.</p>

                <ul id="about-text-list">
                    <li>
                        <h4><span>01</span> Client's Satisfaction</h4>
                        <p>Same as saying through shrinking from toil random text</p>
                    </li>
                  
                    <li>
                        <h4><span>02</span> Planning & Strategy</h4>
                        <p>Same as saying through shrinking from toil random text</p>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div id="about-ideas">
            <h3>Ideas That Innovate and Impact Lives</h3>
            <p>Imagine integrating your business with intelligent ERP for exponential growth and holistic management.</p>
            <p>Imagine revolutionizing your business processes with intelligent automation — supported by artificial intelligence and robotic process automation.</p>
            <p>Imagine delighting your customers with the exceptional experience of AI & Machine Learning while doing business with you.</p>
            <p>The world as we see is on the verge of a major shift into a virtual, interactive technologies, automated processes and cloud solutions. Be up to date and stay adept in order to reap the full benefits of this tectonic shift.</p>
            <p>KO-Innovation is holistically designed to acclimatise its customers smoothly into advanced technologies. We partner with our customers throughout their digital transformation journey, as a reliable partner, we walk with you through the entire innovation lifecycle, from Idea to Impact.</p>
            <p>At KO-Innovation we believe that every new idea and innovation is a natural by-product of a dynamic and intellectual state of mind, and this truth is hard-wired deep into our work culture.</p>
        </div>
        <div id="about-vision">
            <div class="about-vision-box-odd">
                <img loading="lazy" src="{% static 'images/image7.png' %}" alt="">
                <div>
                    <h3>Vision</h3>
                    <p>Our vision is to serve as a reliable partner to our customers and co-innovate solutions that help them to pioneer in the new digital industrial revolution. To work with an abundant flow of passion, innovation, competence, quality and commitment</p>
                </div>
            </div>
            <div class="about-vision-box-even">
                <div>
                    <h3>Mission</h3>
                    <p>Our mission is to formulate and model innovative products that solve complex problems of the present world. To help our clients befriend the modern technological advancements and utilise them to the fullest by offering befitting products and solutions. To help them to leap forward into the industry 4.0 and stay abreast in their business endeavours.</p>
                </div>
                <img loading="lazy" src="{% static 'images/image8.png' %}" alt="">
            </div>
            <div class="about-vision-box-odd">
                <img loading="lazy" src="{% static 'images/image9.png' %}" alt="">
                <div>
                    <h3>Values</h3>
                    <p>We are truly committed to our core values of Ethics, Passion, Competence and Quality. We constantly thrive to exceed customer’s expectation.</p>
                </div>
            </div>
        </div>

        <div id="about-team">
            <div class="about-team-box">
                <div class="about-team-box-text">
                    <h3>Our Team</h3>
                    <p>The KO-Innovation team comprises of innate thinkers and innovative solution experts who have extensive experience across sectors and industries. We are a focussed team of technocrats on a mission to impact lives with our ideas and innovations.</p>
                    <p>Our technologists have spent years mastering their skills and they bring together decades of technology consulting expertise in delivering infinite enlightening ideas.</p>
                    <p>When you team-up with KO-Innovation, you get more than just a product or service. You get a trusted partner who is consistently committed to perfection and augmentation of your experience.</p>
                </div>
                <div class="about-team-box-img">
                    <img loading="lazy" src="{% static 'images/image10.png' %}" alt="">
                </div>
            </div>
            <div class="about-team-box">
                <div class="about-team-box-text">
                    <h3>Our Approach</h3>
                    <p>We serve as a reliable partner since we understand the immense power of partnership first hand. We work with clients at the intersection of trust, technology and business. We share our expertise in seeing the big picture and connection the dots to create and provide multidimensional solutions. We collaborate creatively by driving sustainable co-innovations arounf client's business strategies.</p>
                    <p>We help organisation(s) innovate ideas that impact and reap copious results, without waiting for years or wasting iteratively with agile approach, fast track potential ideas and lower the cose of innovation</p>
                    <p>Our work is valuable, and the technologies that we are building are going to be a key part of the next phase of digital (r)evelotion. With our customer focused approach and design oriented methodology, couples with truse and a strond work ethic at the heart of our collaboratiion, we aspire to be a social impacr business leader.</p>
                </div>
                <div class="about-team-box-img">
                    <img loading="lazy" src="{% static 'images/image11.png' %}" alt="">
                </div>
            </div>
        </div>

    </section>
    <section id="about-client-section">
        <div class="client-head">
          <h2>Our Clients</h2>
        </div>
        <div id="client-images">
          <div>
            <img loading="lazy" src="{% static 'images/icon8.png' %}" alt="">

          </div>
          <div>
            <img loading="lazy" src="{% static 'images/icon9.png' %}" alt="">

          </div>
          <div>
            <img loading="lazy" src="{% static 'images/icon10.png' %}" alt="">

          </div>
          <div>
            <img loading="lazy" src="{% static 'images/icon11.png' %}" alt="">

          </div>
          
        </div>
        <div class="client-head">
          <h2>Our Partners</h2>
        </div>
        <div id="client-partner">
          <div>
            <img loading="lazy" src="{% static 'images/icon12.png' %}" alt="">

          </div>
          <div>
            <img loading="lazy" src="{% static 'images/icon13.png' %}" alt="">

          </div>
        </div>
      </section>

{% endblock %}