{% extends 'app1/base.html' %}
{% load static %}
{% block base %}

<section id="digital-section">
    <div id="digital-header">
        <h2>Custom Digital Products</h2>
    </div>
    <div id="digital-steps">
        <p>5 STEPS</p>
        <h3>UX Design Process</h3>
        <img src="{% static 'images/image22.png' %}" alt="" loading="lazy">
    </div>
    <div id="digital-products">
        <h3>Our Products</h3>
        <div class="digital-products-item">
            <div class="products-item-text">
                <h4>Mobile Sales & Distribution</h4>
                <p>Sales Diary has a unique solution to best manage inventory, delivery, cash transactions, damages, and returns of van goods. Advanced features for route management, location tracking, on-spot billing and real-time updates on the goods.</p>
                <p>Digital strategy</p>
                <ul>
                    <li>Testing & optimization</li>
                    <li>Back-End Development</li>
                    <li>Modern companies are built</li>
                    <li>Mobile Development</li>
                </ul>
            </div>
            <div class="products-item-img">
                <img src="{% static 'images/image23.png' %}" alt="" loading="lazy">
            </div>
        </div>
        <div class="digital-products-item">
            <div class="products-item-text">
                <h4>RDD - Fitout Management Application</h4>
                <p>RDD ('Retail Design Delivery') is an overall solution for the operation and maintenance of an entire building infrastructure, services and utilities. The system ensures that they are used in an efficient way and are consistent with the purpose for which they have been readied. Mall Management System encompasses operations, facilities management, security, accounts, common area maintenance, marketing, leasing, and all the other functions even remotely related to a mall.</p>
                <p>Digital strategy</p>
                <ul>
                    <li>Testing & optimization</li>
                    <li>Back-End Development</li>
                    <li>Modern companies are built</li>
                    <li>Mobile Development</li>
                </ul>
            </div>
            <div class="products-item-img">
                <img src="{% static 'images/image24.png' %}" alt="" loading="lazy">
            </div>
        </div>
        <div class="digital-products-item">
            <div class="products-item-text">
                <h4>Mobile Sales & Distribution</h4>
                <p>Hamrahh is an overall solution for the operation and maintenance of an entire building infrastructure, services and utilities. The system ensures that they are used in an efficient way and are consistent with the purpose for which they have been readied. Mall Management System encompasses operations, facilities management, security, accounts, common area maintenance, marketing, leasing, and all the other functions even remotely related to a mall.</p>
                <p>Digital strategy</p>
                <ul>
                    <li>Testing & optimization</li>
                    <li>Back-End Development</li>
                    <li>Modern companies are built</li>
                    <li>Mobile Development</li>
                </ul>
            </div>
            <div class="products-item-img">
                <img src="{% static 'images/image25.png' %}" alt="" loading="lazy">
            </div>
        </div>

    </div>

</section>

{% endblock %}