{% extends 'app1/base.html' %}
{% load static %}
{% block base %}

<section id="sap-section">
    <div id="sap-header">
        <h2>SAP Services</h2>
    </div>
    <div id="s-intro">
        <p>Our end-to-end approach is highlighted products, services, and solutions that provide customers a single point of contact and a commitment of total customer value and satisfaction.</p>
    </div>
    <div id="sap-bio">
        <div class="sap-bio-box">
            <img src="{% static 'images/image13.png' %}" alt="" loading="lazy">
            <div>
                <h3>SAP Implementation</h3>
                <p>We help our customers build great solutions through smooth SAP Implementation with customer-centric approach. We understand each SAP project is unique in objectives, scope and priorities. We focus on following ket areas.</p>
                <ul>
                    <li>Defining project goals and objectives</li>
                    <li>Clarifying the scope of implementation</li>
                    <li>Defining an implementation Strategy</li>
                    <li>Defining overall project schedule and implementation sequence</li>
                    <li>Establishing the project organization and committees</li>
                    <li>Assigning and aligning right resources.</li>
                </ul>
            </div>
        </div>
        <div class="sap-bio-box">
            <img src="{% static 'images/image14.png' %}" alt="" loading="lazy">
            <div>
                <h3>SAP Colud Migration</h3>
                <p>Migrating SAP infrastructure to the cloud makes the perfect choice. It will help you cut down the costs associated with managing your infrastructure, providing support services, licensing and manages services.</p>
                <p>We seamlessly migrate on-premises SAP system to cloud platform. We provide you to trail your SAP mifration before you actually do it. With our proof of concept package model, you can trail moving one of your own non-productive SAP systems to cloud and compare your existing on-premise solution. This means you have an incredibly low-risk environment in which to trail your SAP system in the cloud, before making any mission any mission-critical decisions.</p>

            </div>
        </div>
        <div class="sap-bio-box">
            <img src="{% static 'images/image15.png' %}" alt="" loading="lazy">
            <div>
                <h3>SAP Upgrade</h3>
                <p>Once technologies and business evolve, Business needs to explore the new innovation of SAP releases and choose the relevant business packages that can upgrade their business to the nect level.</p>                
                <p>This is the major reason why companies should undertake upgrade on time and avoid disruption of your SAP services. So, we play a vital role to suggest and support the changes to your ERP packages.</p>
                <p>Our expertise theam force, assists our customers for upgrade that is implemented across companies to upgrade their SAP system and enables latest released SAP versions.</p>

            </div>
        </div>
        <div class="sap-bio-box">
            <img src="{% static 'images/image16.png' %}" alt="" loading="lazy">
            <div>
                <h3>SAP Integration Services</h3>
                <p>SAP Integration Service that allows you to smoothly integrate on-premise and cloud-based applications and processes with toold and prebuild content manages by SAP.</p>
                <ul>
                    <li>Defining project goald and objectives</li>
                    <li>We provide integration services through SAP CPI (Cloud Platform Integration) and securely synchronize with third party or other SAP platforms with API, Web services.</li>
                </ul>
            </div>
        </div>
        <div class="sap-bio-box">
            <img src="{% static 'images/image17.png' %}" alt="" loading="lazy">
            <div>
                <h3>SAP Support Services - On Going Maintenance / Continuous Improvements</h3>
                <p>AP Preferred care services are provided for personalized engagement with our customers for all SAP on-permise products.</p>
                <p>We provide 24/7 operation on demand. We offer a wide range of high-level support services tailored to empower your business from implementation to improving your SAP processes.</p>
                <p>Our proactive support services enables continuous improvements and business continuity. Ko Innovation support services, relieves you from day-to-day maintenance chores and helps you focus on business excellence.</p>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</section>

{% endblock %}